engine/EngineDatabaseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EngineDatabaseSchema" xmlns:tns="http://www.example.org/EngineDatabaseSchema" elementFormDefault="qualified">

    <complexType name="Connection">
    	<sequence>
    		<element name="ConnectionId" type="string"></element>
    		<element name="EngineId" type="string"></element>
    		<element name="ClientId" type="string"></element>
    	</sequence>
    </complexType>
</schema>